html,
body {
  margin: 0.25rem auto;
  padding: 0;
  font-family: sans-serif;
}

.box {
  min-height: 4rem;
}

header {
  display: flex;
  gap: 0.5rem;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-img {
  width: 100%;
  max-height: 3rem;
  width: auto;
}

.logo-title {
  font-size: clamp(2vmin, 2rem, 36px);
}

.menu {
  display: flex;
  align-items: center;
}

.banner {
  margin: 0.5rem 0;
}
.banner img {
  width: 100%;
  display: block;
}

main {
  display: flex;
  gap: 0.5rem;
}

.content {
  flex-basis: 100%;
  box-shadow: 0 0 8px hsla(0, 0%, 30%, 0.15);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.content-cta {
  margin-top: auto;
  padding: 1rem;
  background-color: #e87722;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.15rem;
}

.footer {
  margin-top: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (min-width: 976px) {
  body {
    max-width: 70vw;
  }
}

@media (max-width: 976px) {
  body {
    max-width: 625px;
  }
}

@media (max-width: 625px) {
  main {
    flex-wrap: wrap;
  }
  body {
    max-width: 100%;
    margin: 0.25rem;
  }
}
