.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  color: #fff;
  margin-left: 1rem;
  text-decoration: underline;
}

.promo {
  position: relative;
}

.promo-image,
.promo-image img {
  width: 100%;
}

.promo-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slide-select {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.slide-select .dot {
  background-color: #fff;
  width: 0.75rem;
  height: 0.75rem;
}

.products-cotainer {
  max-width: calc(1280px - 2rem);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-cotainer .category-name {
  width: 100%;
}

.product {
  width: calc((100% - 2rem) / 4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.product img {
  width: 100%;
}

.product-content {
  padding: 1rem;
}

.product-name {
  margin: 0;
  padding: 0;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}
